body {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  /*flex-grow: 1;*/
  overflow-y: scroll;
}

main {
  background: #FFFFFF;
  min-height: 100vh;
}

img {
  max-width: 100%;
}

.row.mb-row {
  padding-left: 0;
}

[class^="container"], [class^="col"], .mb-container, section {
  /*background-color: rgba(185, 231, 232,.4);
  border: 1px solid black;*/
  /*margin-bottom: 20px;*/
  /*min-height: 180px;*/
}

header {
  min-height: 70px;
  background-color: #FFFFFF;
  width: 100%;
}

.logo-mobile {
  display: none;
}

.logo .logo-big, .mb-navbar a {
  color: #5B5858;
}

.logo .logo-big, .mb-navbar a:last-child {
  color: #FF8F00;
}

aside {
  background-color: #051E34;
  color: #FFFFFF;
  font-family: 'Poppins', sans-serif;
}

aside ul {
  list-style: none;
  padding-left: 0;
}

aside li {
  display: flex;
  justify-content: center;
  padding: .2rem 0;
}

aside span, aside i {
  color: #FFFFFF;
}

aside a {
  text-decoration: none;
}


/* SECTION BADGES */


#badges, #alunni {
  min-height: 120px;
  background-color: #1A73E8;
  color: #FFFFFF;
}

.badge.mb-badge {
  background-color: #155CBA;
}


/* SECTION NEXT-CLASSES */

#next-classes, #faq, #todo {
  background-color: #F7F7F7;
}

#next-classes h3, #faq h3, #todo h3 {
  padding: 1rem;
}

.classe .classe-container {
  width: 1.8rem;
  height: 1.8rem;
  background-color: #F26551;
  border-radius: 100%;
  color: #FFFFFF;
}

.actions .pencil, .actions .trash {
  width: 1.8rem;
  height: 1.8rem;
  border: 1px solid #6C757D;
  border-radius: 3px;
  color: #6C757D;
}

.actions .pencil:hover, .actions .trash:hover {
  cursor: pointer;
}


/* SECTION TODO */

#todo span {
  font-size: .9rem;
}

#todo .mb-form-check {
  padding: .3rem 0 .3rem 2rem;
}


/* SECTION ACTIVE-USERS */


.mb-card .card-body{
  padding-top: 2rem;
}

.card .card-body p, .card li, .card a {
  font-size: .8rem;
}




/* MEDIA QUESRIES */

@media screen and (max-width: 991px) {
  .logo .logo-big, .mb-navbar a:not(:last-child) {
    display: none;
  }
  
  .logo-mobile {
    display: inline-block;
    width: 2rem;
  }

  aside span {
    display: none;
  }

}