/*{font-family: 'Poppins', sans-serif;
}

{font-family: 'Roboto', sans-serif;
}
*/

img {
  max-width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
}

.wrapper {
  /*flex-grow: 1;*/
  overflow-y: scroll;
}

main {
  background: #eee;
  min-height: 500vh;
}


[class^="container"], [class^="col"], .mb-container, section {
  /*background-color: rgba(185, 231, 232,.4);
  border: 1px solid black;*/
  /*margin-bottom: 20px;*/
  /*min-height: 180px;*/
}

header {
  min-height: 70px;
  /*flex-shrink: 0;*/
  /*debug*/
  /*height: 90px;*/
  background-color: #FFFFFF;
 /* position: fixed;*/
  /*top: 0;*/
  /*right: 0;*/
  width: 100%;
}

/*
.fixed-top {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
}*/
/*.navbar.mb-navbar {
  top: 50%;
  
}*/

/*.navbar.mb-navbar .navbar-brand {
  max-height: 100%;
}*/

.logo-mobile {
  display: none;
}

.logo .logo-big, .mb-navbar a {
  color: #5B5858;
}

.logo .logo-big, .mb-navbar a:last-child {
  color: #FF8F00;
}

aside {
  background-color: #051E34;
  color: #FFFFFF;
  /*padding-left: 0;
  margin-left: 0;*/
  /*padding-left: calc(var(--bs-gutter-x) * .5);*/
}

aside ul {
  list-style: none;
  padding-left: 0;
}

aside li {
  display: flex;
  justify-content: center;
  padding: .2rem 0;
}

aside span, aside i {
  color: #FFFFFF;
}

aside a {
  text-decoration: none;
}

#badges, #alunni {
  background-color: #1A73E8;
  color: #FFFFFF;
}

.badge.mb-badge {
  background-color: #155CBA;
}





/* MEDIA QUESRIES */

@media screen and (max-width: 992px) {
  .logo .logo-big, .mb-navbar a:not(:last-child) {
    display: none;
  }
  
  .logo-mobile {
    display: inline-block;
    width: 2rem;
  }

  aside span {
    display: none;
  }

}